<!-- <h1>{{title}}</h1>
<app-grand-child-a [fromParent]="currentItem"></app-grand-child-a>
<p>end of child-a</p>
 -->
<section class="vh-100" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-9 col-xl-7">
        <div class="card rounded-3">
          <div class="card-body p-4">

            <h4 class="text-center my-3 pb-3">To Do App</h4>
            <h6 class="text-center my-3 pb-3">filling input from the child component</h6>


            <div class="row row-cols-lg-auto g-3 justify-content-center align-items-center mb-4 pb-2">
              <div class="col-8">
                  <label class="form-label" for="userInput">Item</label>
              </div>
              <div class="col-8" class="form-group">
                <input type="text" id="userInput" class="form-control" [(ngModel)]="userInput"/>
              </div>
              <div class="col-8">
                <button type="submit" class="btn btn-primary" (click)="addItem()">Add</button>
              </div>
            </div>

            <table class="table mb-4">
              <thead>
                <tr>
                  <th scope="col">No.</th>
                  <th scope="col">Todo item</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of itemList; let i = index">
                  <th scope="row">{{ i + 1 }}</th>
                  <td>{{ item }}</td>
                  <td>
                    <button type="submit" class="btn btn-danger" (click)="removeItem(i)">Remove</button>
                  </td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <app-grand-child-a (newItemEvent)="addItemFromChild($event)"></app-grand-child-a>
</div>